<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring Boot defaults and standard CONSOLE appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Logstash TCP appender with inline encoder -->
    <appender name="LOGSTASH_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"prodcate"}</customFields>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGSTASH_TCP"/>
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>